@model List<Mascota>

<h1>Mascotas en adopcion</h1>



@if (Model.Count == 0)
{
    <p>Aún no hay mascotas para adoptar</p>
}

<div class="text-center">
    @foreach (var m in Model)
    {
        <h2>Nombre: @m.NombreTemporal</h2>
        <h3>Edad: @m.Edad</h3>
        <h3>Raza: @m.Raza</h3>
        <h3>Sexo:
        @if (@m.Sexo=="0")
        {
            <text>Macho</text>
        }else if (@m.Sexo=="1"){
            <text>Hembra</text>
        }
        </h3>
        <img src="@m.Foto" width="300">
        <p>Descripcion: @m.Descripcion</p>
    }
</div>