@model List<Mascota>

<div class="mx-auto">
<h1 class="text-center bg-gradient-primary">Mascotas en Adopción</h1>
</div>
@if (Model.Count == 0)
{
    <p>Aún no hay mascotas para adoptar</p>
}


<div class="row">
    <div class="container col-3">
        <div class="pos-f-t">
            <nav class="navbar navbar-dark bg-dark">
                <span class="text-light font-weight-bold">Filtrar Mascotas</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>               
                </button>               
            </nav>
            
        </div>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="form-group bg-light p-2">
                <form asp-action="index" method="get">
                    <div>
                        <label>Tipo de Mascota: </label>
                            <select name="tipomascota">
                                <option value="0">Todos</option>
                                @foreach(var t in (List<TipoMascota>)ViewBag.Tipos)
                                {
                                    <option value="@t.Id">@t.Nombre</option>
                                }
                            </select>
                    </div>

                    <div>
                        <label>Edad: </label>
                    </div>

                    <div>
                        <label>Sexo: </label>
                                <select name="">
                                    <option value="0">Ambos</option>
                                    <option value="1">Macho</option>
                                    <option value="2">Hembra</option>
                                </select>                      
                    </div>

                    <button class="btn btn-dark">Filtrar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-9">
        @foreach (var m in Model)
        {
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="container col-md-3" >
                    <img src="@m.Foto" class="card-img img-fluid" alt="Responsive image" style="max-width: 500px; max-height: 300px;">
                    </div>
                    <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Nombre: @m.NombreTemporal</h5>
                        <p class="card-text">Edad: @m.Edad</p>
                        <p class="card-text">Raza: @m.Raza</p> 
                        <p class="card-text">Sexo: @if (@m.Sexo=="0")
                                {
                                <text>Macho</text>
                                }else if (@m.Sexo=="1"){
                                    <text>Hembra</text>
                                }</p>
                        <p class="card-text">Descripción: @m.Descripcion</p>                            
                    </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>