@model List<Evento>

@{
    ViewBag.Titulo = "Lista de Eventos";
}

<div class="mx-auto p-3">
    <h1 class="text-center font-weight-bold bg-gradient-primary">Eventos para tus Mascotas</h1>
</div>
<div class="col-4 m-3">
<form asp-action="listaevento" method="get">
    <div class="form-row container">
        <div class="form-inline">
            <label>Filtrar por tipo de Evento: </label>  
            <select name="tipoevento" id="inlineFormCustomSelect">
                <option selected>Todos</option>
                @foreach(var t in (List<TipoEvento>)ViewBag.TipoC)
                {
                    <option value="@t.Id">@t.Nombre</option>
                }
            </select>
        </div>  
        <button class="btn text-white rgba-indigo-strong font-weight-bold">Filtrar</button>
    </div>
</form>
</div>

@if (Model.Count == 0)
{
    <p>Aún no hay campañas que ver</p>
}

<br>


    <div>  
        @foreach (var m in Model)
        {
            <div class="card mb-3 rgba-red-slight">
                <div class="row no-gutters">
                    <div class="container-fluid text-center col-md-3">
                        <img src="@m.Foto" class="card-img img-fluid">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="container-fluid">
                                <h5 class="card-header rgba-red-strong font-weight-bold white-text">@m.Titulo</h5>  
                            </div>
                            <div class="card-body container-fluid">
                            <p class="card-text"><strong>Descripción: </strong>@m.Contenido</p>                            
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

